<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h4 class="card-header  text-center">
                Administração de registros
            </h4>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-3 offset-md-9">
                        <input type="text" class="form-control" id="search" [(ngModel)]="searchText" (ngModelChange)="search(searchText)" placeholder="Pesquisa">
                    </div>
                </div>
                <br />
                <div class="table-responsive-sm">
                    <table class="table table-striped text-center">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Validação</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let record of records | paginate: {itemsPerPage: 5, currentPage: pagination.page, totalItems: pagination.totalItems}">
                                <td>{{record.id}}</td>
                                <td>{{record.name}}</td>
                                <td>{{record.cpf}}</td>
                                <td>{{record.validated === 0 ? "Não Validado" : "Validado"}}</td>
                                <td>
                                    <a [routerLink]="['/RENATOMALDONADO', 'validar', record.id]" class="btn btn-outline-info btn-sm">
                                        <span><i class="bi bi-box-arrow-right"></i>Acessar</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Anterior" nextLabel="Próximo">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
